/* Media queries for responsiveness */
@media (max-width: 768px) {
    html {
        /* font-size: 95%; */
    }

    .file-plate {
        width: 16.666666666666668% !important;
    }
}

@media (max-width: 600px) {
    html {
        /* font-size: 85%; */
        font-size: 95%;
    }

    .file-plate {
        width: 20% !important;
    }
}

@media (max-width: 510px) {
    html {
        /* font-size: 75%; */
        font-size: 85%;
    }

    .navbar .container {
        flex-wrap: wrap;
    }

    .file-plate {
        width: 25% !important;
    }
}

@media (max-width: 425px) {
    html {
        /* font-size: 60%; */
        font-size: 75%;
    }

    .navbar__search {
        order: 10;
        /* margin-left: 0; */
        width: 100%;
    }

    .navbar__login {
        margin-left: auto;
    }
    .file-plate {
        width: 33.333% !important;
    }
}